/**HEADER**/

.header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  flex-direction: row;
  font-size: 24px;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  display: flex;
  align-items: center;
  padding: 0 14px 0 14px;
  margin-left: -14px;
}

.header__links-list {
  display: flex;
  flex-flow: row;
  color: #000;
  gap: 42px;
}

.header__links-list-item {
  list-style-type: circle;
  font-size: 20px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  color: #000;
  line-height: 1.2;
  font-size: 17px;
}

.header__link_active {
  text-decoration: none;
  border-bottom: none;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: 25px;
  margin-top: 1px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  color: #000;
  padding: 4px 10px 0 4px;
  line-height: 24.48px;
  border-bottom: 1px #000;
}

.address_PM {
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 1px;
  text-decoration-thickness: 1px;
}

.header__address {
  font-style: normal;
  width: 240px;
  font-size: 18px;
}

/**COVER**/

.cover {
  background-image: url("../images/cover.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  padding: 162px 50px 50px;
  height: 757px;
  margin-bottom: 0;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.cover__title {
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  color: #fff;
  letter-spacing: 0.3em;
  margin-bottom: 135px;
  line-height: 1.15;
  font-size: 100px;
  row-gap: 25px;
}

.aligned-text {
  display: block;
  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  letter-spacing: 0.3em;
  font-weight: 700;
  font-size: 100px;
  z-index: 2;
}

.aligned-text_center {
  text-align: center;
  line-height: 0.98;
}

.aligned-text_right {
  text-align: right;
  line-height: 0.85;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  text-transform: uppercase;
  margin: 146px 5.1px 0 0;
  gap: 65px;
}

.cover__description-text {
  color: #fff;
  word-spacing: 20px;
  font-size: 22px;
  z-index: 1;
}

.bet-button {
  display: flex;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #fff;
  font-weight: normal;
  padding: 12px 32px;
  font-size: 22px;
  color: #fff;
  z-index: 1;
}

/**LOTS**/

.lots {
  position: relative;
  margin-top: 0;
  padding: 180px 20px 0 20px;
}

.lots__heading {
  text-transform: uppercase;
  color: #000;
  margin: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 30px;
  gap: 25px;
}

.lots__card-list-item {
  min-height: 563px;
  width: 334px;
}

.card-link {
  text-decoration: none;
  height: 100%;
}

.card {
  display: flex;
  color: #fff;
  height: inherit;
}

.card .overlay {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}


.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
}

.card__title {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}

.card__text {
  font-size: 20px;
  color: #fff;
  line-height: 120%;
  font-weight: 400;
}

.lots__look-more-link {
  text-decoration: none;
  margin-left: 40px;
  font-size: 20px;
  border-bottom: 1px solid #000;
  color: #000;
}

/**ABOUT**/

.about {
  display: grid;
  margin: 171px 24px 180px 50px;
  column-gap: 10px;
  grid-template-columns: 1fr 2fr;
}

.about__column {
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  text-transform: uppercase;
  margin-top: 103px;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  margin-bottom: 100px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about__text p {
  margin-top: 25px;
}

/**FOOTER**/
